.spacer {
    width: 100%;
    height: 50vh;
    background: #efefef;
}

.spacer > div {
    color: #fff;
    font-weight: 900;
    font-size: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.headline {
    background: #d4d3d3;
    border-radius: 6px;
    height: 4em;
    width: 100%;
}

.text {
    margin: 0.8em 0 0 0;
    background: #efefef;
    border-radius: 6px;
    height: 1em;
    width: 100%;
}

.gallery {
    display: flex;
    box-sizing: border-box;
    background: #f8e6ef;
}

.left {
    width: 50%;
}

.detailsWrapper {
    margin: auto;
    width: 80%;
}

.details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photos {
    width: 40vw;
    height: 40vw;
    background: transparent;
    position: relative;
}

.photos-box {
    overflow: hidden;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    border-radius: 20px;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.photo img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col1 {
    background: #f9d2e5;
}

.col2 {
    background: #cdd1ff;
}

.col3 {
    background: #ffe4d3;
}

.col4 {
    background: #ffb399;
}

@media all and (max-width: 640px) {
    .gallery {
        position: relative;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        position: absolute;
    }

    .photos {
        position: absolute;
        width: 100%;
        height: 50vh;
        bottom: 0px;
    }

    .photos_box {
        width: 90%;
        height: 90%;
        top: 0%;
        left: 5%;
        bottom: 5%;
    }

    .details {
        justify-content: start;
        margin-top: 90px;
    }
}